---
import "@/shared/styles/global.css";
import { Toaster } from "@/shared/components/ui/sonner";
import { ClientRouter } from "astro:transitions";
import DashboardHeader from "@/features/dashboard/components/dashboard/DashboardHeader.astro";
import DashboardSidebar from "@/features/dashboard/components/dashboard/DashboardSidebar.astro";
import { NAVIGATION_SIDEBAR } from "@/shared/lib/navigation.ts";

type Props = {
  title?: string;
};

const pathname = Astro.originPathname.replaceAll("/", "");
const { title = "Dashboard - Lazarus" }: Props = Astro.props;
const user = Astro.locals?.user;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-background text-foreground">
    <section class="min-h-screen bg-background">
      <DashboardSidebar
        client:load
        navigation={NAVIGATION_SIDEBAR}
        user={user}
      />
      <article class="pl-64">
        <DashboardHeader client:load pathname={pathname} />
        <main class="min-h-[calc(100vh-4rem)]">
          <slot />
        </main>
      </article>
    </section>
    <Toaster richColors position="top-center" client:load />
  </body>
</html>
